Source: inputcontext-gtk
Section: libs
Priority: optional
Maintainer: Jonathan Riddell <jr@jriddell.org>
Build-Depends: debhelper (>= 9),
               libdbus-glib-1-dev,
               libglib2.0-dev,
               libgtk2.0-dev,
               libgtk-3-dev,
               qt5-default,
               qt5-qmake
Standards-Version: 3.9.6
Homepage: https://github.com/maliit/inputcontext-gtk
Vcs-Git: https://github.com/plasma-phone-packaging/inputcontext-gtk.git
Vcs-Browser: https://github.com/plasma-phone-packaging/inputcontext-gtk

Package: maliit-inputcontext-gtk
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: The GTK+ input context for Maliit
 This plugin allow GTK to use Maliit.
